.center {
	position: relative;
	margin: auto;
	width: 10%;
	//border: 1px solid #73AD21;
	//padding: 120px 0px 0px 0px;
	top: 200px;
}

.topLeft {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
}
.topText {
	font-family:ASAP-SemiBold; 
	font-size:25px;
}

.bottomText {
	font-family:DIN-Next; 
	font-size:18px; 
	top:44px
}

#sideVideo{
	position: absolute;
	height: 550px;
	//width: 21%;
}

#textHolder{
	position: absolute;
	color: white; 
	//padding-left: 25px;
	width: 60%;
	left: 350px;
}
.header{
	font-size: 72px;
	font-family:ASAP-SemiBold;
	//padding: 0px 0px 10px 0px;
	
}
.bodyText{
	font-size: 26px;
	font-family: DIN-Next;
	line-height: 35px;
}
p i{
	padding: 0px 20px;
	font-size: 25px;
	cursor: pointer;
	
}
p i:hover{
	color: #3BECFC;
}




