.center {
	position: relative;
	margin: auto;
	width: 85%;
	//border: 1px solid #73AD21;
	//padding: 120px 0px 0px 0px;
	top: 120px;
}

.topLeft {
	position: absolute;
	top: 15px;
	left: 15px;
	color: white;
	/*text-shadow: 2px 2px 5px black;*/
}
.topText {
	font-family:ASAP-SemiBold; 
	font-size:25px;
	/*text-shadow: -2px -2px 4px #FF5285, 2px 2px 4px #3CECFF;*/
	
}

.bottomText {
	font-family:DIN-Next; 
	font-size:18px; 
	top:44px;
	
}

#bannerHolder{
	position: absolute;
	display: inline-block;
	text-align: center;
}

#banner{
	//position: absolute;
	width: 100%;
	display: inline-block;	
}

#bannerVideo{
	width: 100%;
	//position: absolute;
	display: none;
	opacity: 0.5;
}
  
.row {
	//white-space: nowrap;
	position: absolute;
	width: 100%;
	height: 256px;
	top: 399px;
	//background-color: rgba(255,0,0,1);
	//border: 3px solid #73AD21;
	//padding: 5.5px 0px;
}

.rowButton{

    //padding: 10px;
    position: absolute;
	//display: inline-block;
	
	//margin: 10px;
	//width: 33%;
	//height: 100%;
	vertical-align: text-top;
}

.rowButton h1{

	height: 100%;
}

.rowButton img{

	//height: 100%;
	width: 100%;
	margin:0px;
}

.rowButton video{

	width: 100%;
	position: absolute;
	display: none;
	left: 0px;
	opacity: 0;
}




